:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Navabr styling */

#navbar {
    background-color: rgba(255, 99, 71, 0.3); /* semi-transparent light green */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#navbar .nav-link {
    color: black !important;
    font-weight: 500;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.navbar-nav {
    font-weight: 900;
}

.navbar-nav .nav-link:hover {
    color: var(--highlight-color) !important;
    text-decoration: underline;
}

/* Hero Section Styling */
.hero-banner {
    /* Path to image */
    background-image: url('../images/hero-img.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: 100%;
}

.hero-content-box {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
}

.btn {
    border-radius: 100px;
}