:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Pushes the footer to the bottom of the page */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1; /* This is the "magic" line that pushes the footer down */
}

/* Navabr styling */

#navbar {
    background-color: rgba(28, 27, 35, 1); /* semi-transparent light green */
     /* background-color: rgba(255, 99, 71, 0.3); /* semi-transparent light green */   
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#navbar .nav-link {
    color: white !important;
    font-weight: 600;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.navbar-nav {
    font-weight: 900;
}

.navbar-nav .nav-link:hover {
    color: var(--highlight-color) !important;
    text-decoration: underline;
}

/* Hero Section Styling */
.hero-banner {
    /* Path to image */
    background-image: url('../images/hero-img.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: 100%;
}

.hero-content-box {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
}


/* Button styling */
.btn {
    border-radius: 100px;
}

/* Contact Section Styling */
.contact {
    background-color: rgba(28, 27, 35, 1);
    color: white;
}


/* Change the color of the three lines (the icon) */
.navbar-toggler-icon {
    filter: invert(1); /* This flips the black lines to white */
}

/* Change the color of the border around the icon */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

/* Media query */
