:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}


#navbar {
    background-color: rgba(255, 99, 71, 0.5); /* semi-transparent light green */
}

h1 {
    color: red;
}