:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Navabr styling */

#navbar {
    background-color: rgba(255, 99, 71, 0.3); /* semi-transparent light green */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#navbar .nav-link {
    color: black !important;
    font-weight: 500;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}
